.logs {
  border-radius: 5px;
  margin-top: var(--s-5);

  .title {
    font-size: var(--fz-16);
    margin: 0 auto;
    color: var(--c-white);
  }

  .table {
    width: 100%;
    border-spacing: 0 10px;
    border-collapse: separate;

    thead {
      color: var(--c-white);

      th {
        text-align: left;
        padding: 0 10px;
        font-size: var(--fz-14);

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .status {
      --size: 10px;
      &::before {
        content: '';
        display: inline-block;
        width: var(--size);
        height: var(--size);
        transform: translateY(1px);
        margin-right: 10px;
        border-radius: 50%;
      }
    }

    [data-status='success'] {
      &::before {
        background-color: rgb(23, 190, 23);
      }
    }

    [data-status='error'] {
      &::before {
        background-color: rgb(185, 45, 45);
      }
    }
  }

  .log {
    font-size: 12px;
    width: 100%;

    + tr {
      margin-top: 5px;
    }

    td {
      padding: 10px;
      border-spacing: 0;
      background-color: var(--c-grey-20);
      color: var(--c-grey-80);
      font-size: var(--fz-12);

      &:first-child {
        border-radius: 5px 0 0 5px;
      }

      &:last-child {
        border-radius: 0 5px 5px 0;
      }
    }
  }

  .clear {
    display: block;
    margin: 10px auto 0;
  }
}
