{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "printWidth": 130,
  "semi": true,
  "arrowParens": "always",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
